<%= form_for @recipe do |r| %>
<%= r.label :name %>
<%= r.text_field :name %><br><br>

<h2>Ingredients: </h2>
<%= r.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br><br>
<%= r.submit %>
<% end %>